<a href="https://colab.research.google.com/github/MohitKS5/CLRS/blob/master/assignment1/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
#from getpass import getpass
import urllib

user = "MohitKS5"
#password = getpass('Password: ')
password = "507fbe5879c750fe73e2c86402f716bcb8b96e32"
#password = urllib.parse.quote(password) # your password is converted into url format
repo_name = input('Repo name: ')

cmd_string = 'git clone https://{0}:{1}@github.com/{0}/{2}.git'.format(user, password, repo_name)

os.system(cmd_string)
del cmd_string
del password

Repo name: CS315

In [0]:
cd /content/cs315/assignment1/
%pip install pyexcel_odsr

Requirement already satisfied: pyexcel_odsr in /usr/local/lib/python3.6/dist-packages (0.5.2)
Requirement already satisfied: pyexcel-io>=0.5.3 in /usr/local/lib/python3.6/dist-packages (from pyexcel_odsr) (0.5.20)
Requirement already satisfied: lxml>=3.2 in /usr/local/lib/python3.6/dist-packages (from pyexcel_odsr) (4.2.6)
Requirement already satisfied: lml>=0.0.4 in /usr/local/lib/python3.6/dist-packages (from pyexcel-io>=0.5.3->pyexcel_odsr) (0.0.9)

In [0]:
import sqlite3
conn = sqlite3.connect('population.db')
conn.execute("PRAGMA foreign_keys = 1")
c = conn.cursor()

In [0]:
c.executescript('''          
          CREATE TABLE IF NOT EXISTS state_info(
              scode tinyint PRIMARY KEY,
              name varchar(255) not null
          );
          CREATE TABLE IF NOT EXISTS filters(
              fid unsigned int PRIMARY KEY,
              tbcode varchar(2),
              scode tinyint,
              area_type char(1),
              age_low tinyint,
              age_high tinyint,
              FOREIGN KEY(scode) REFERENCES state_info(scode)
          );
          CREATE TABLE IF NOT EXISTS education_levels(
              level tinyint PRIMARY KEY,
              description varchar(255)
          );
          CREATE TABLE IF NOT EXISTS education(
              fid unsigned int,
              level tinyint non null,
              males unsigned big int,
              females unsigned big int,
              PRIMARY KEY(fid,level),
              FOREIGN KEY(fid) REFERENCES filters(fid),
              FOREIGN KEY(level) REFERENCES education_levels(level)
          );
          CREATE TABLE IF NOT EXISTS multilingual_education(
              fid unsigned int,
              level tinyint,
              languages tinyint,
              males unsigned big int,
              females unsigned big int,
              PRIMARY KEY(fid,level,languages),
              FOREIGN KEY(fid) REFERENCES filters(fid),
              FOREIGN KEY(level) REFERENCES education_levels(level)
          );
          CREATE TABLE IF NOT EXISTS multilingual_age(
              fid unsigned int,
              languages tinyint,
              males unsigned big int,
              females unsigned big int,
              PRIMARY KEY(fid,languages),
              FOREIGN KEY(fid) REFERENCES filters(fid)
          );
         ''')
conn.commit()

In [0]:
from pyexcel_odsr import get_data

In [0]:
# fill state_info table
state_info = []
data = get_data("age-education.ods", start_row=7, start_column=1, column_limit = 3)
rows = data['C-08']
prev = 0
for r in rows:
    if len(r)==0:
        break
    code = int(r[0])
    if prev != code:
        state_info.append((code, r[2][8:]))
    prev=code
print(state_info[:10])
del data
del rows

[(1, 'JAMMU & KASHMIR'), (2, 'HIMACHAL PRADESH'), (3, 'PUNJAB'), (4, 'CHANDIGARH'), (5, 'UTTARAKHAND'), (6, 'HARYANA'), (7, 'NCT OF DELHI'), (8, 'RAJASTHAN'), (9, 'UTTAR PRADESH'), (10, 'BIHAR')]

In [0]:
c.executemany('INSERT INTO state_info VALUES(?,?)', state_info)
conn.commit()
del state_info

In [0]:
education_levels = []
data = ['literate','illiterate','Unclassified','Literate without educational level', 'Below primary', 'Primary', 'Middle', 'Matric/Secondary', 'Higher secondary/Intermediate/Pre-University/Senior secondary', 'Non-technical diploma or certificate not equal to degree', 'Technical diploma or certificate not equal to degree', 'Graduate & above']
level = -2
for r in data:
    education_levels.append((level,r))
    level=level+1
print(education_levels[:10])

[(-2, 'literate'), (-1, 'illiterate'), (0, 'Unclassified'), (1, 'Literate without educational level'), (2, 'Below primary'), (3, 'Primary'), (4, 'Middle'), (5, 'Matric/Secondary'), (6, 'Higher secondary/Intermediate/Pre-University/Senior secondary'), (7, 'Non-technical diploma or certificate not equal to degree')]

In [0]:
c.executemany('INSERT INTO education_levels VALUES(?,?)', education_levels)

In [0]:
conn.commit()
del education_levels

In [0]:
# create filters
filters = []
data = get_data("/content/drive/My Drive/Colab Notebooks/age-education.ods", start_row=94, start_column=1, column_limit = 5)
rows = data['C-08']
fid = 1
ridxs = []
ridx = -1
for r in rows:
    tbcode = "EA"
    ridx=ridx+1
    if len(r)==0:
        break
    code = int(r[0])
    if code == 0:
        continue
    # get sub area
    area = r[3][:1]
    if area == 'T':
        continue
    # get age
    age = str(r[4])
    age_low = 0
    age_high = 0
    idx = age.find('-')
    if age == "All ages":
        continue
    elif age == "Age not stated":
        age_low = None
        age_high = None
    elif age == "80+":
        age_low = 80
        age_high = 90
    elif idx==-1:
        age_low = int(r[4])
        age_high = age_low
    else:
        age_low = r[4][:idx]
        age_high = r[4][idx+1:]
    filters.append((fid,tbcode,code,area,age_low,age_high))
    ridxs.append(ridx)
    fid=fid+1
last_fid_t1 = fid-1
print(filters[:10])
del data
del rows

[(1, 'EA', 1, 'R', '0', '6'), (2, 'EA', 1, 'R', 7, 7), (3, 'EA', 1, 'R', 8, 8), (4, 'EA', 1, 'R', 9, 9), (5, 'EA', 1, 'R', 10, 10), (6, 'EA', 1, 'R', 11, 11), (7, 'EA', 1, 'R', 12, 12), (8, 'EA', 1, 'R', 13, 13), (9, 'EA', 1, 'R', 14, 14), (10, 'EA', 1, 'R', 15, 15)]

In [0]:
c.executemany('INSERT INTO filters VALUES(?,?,?,?,?,?)',filters)

In [0]:
conn.commit()
del filters

In [0]:
literacy = []
data = get_data("age-education.ods", start_row=94, start_column=10, column_limit = 5)
rows = data['C-08']
fid = 1
for i in ridxs:
    if len(rows[i])==0:
        break
    literacy.append((fid,-1,rows[i][3],rows[i][4]))
    fid = fid+1
del data
del rows
print(literacy[:10])

[(1, -1, 0, 0), (2, -1, 73356, 62543), (3, -1, 93716, 79805), (4, -1, 88133, 75203), (5, -1, 109212, 92295), (6, -1, 103464, 88001), (7, -1, 107922, 91165), (8, -1, 97422, 82861), (9, -1, 98942, 82847), (10, -1, 97665, 81963)]

In [0]:
c.executemany('INSERT INTO education VALUES(?,?,?,?)',literacy)

In [0]:
conn.rollback()

In [0]:
conn.commit()
del literacy

In [0]:
ed = []
data = get_data("age-education.ods", start_row=94, start_column=15, column_limit = 30)
rows = data['C-08']
fid = 1
for i in ridxs:
    if len(rows[i])==0:
        break
    for l in range(9):
        ed.append((fid,l+1,rows[i][3*l+1],rows[i][3*l+2]))
    ed.append((fid,0,rows[i][3*9+1],rows[i][3*9+2]))
    fid = fid+1
print(ed[:10])
del data
del rows

[(1, 1, 0, 0), (1, 2, 0, 0), (1, 3, 0, 0), (1, 4, 0, 0), (1, 5, 0, 0), (1, 6, 0, 0), (1, 7, 0, 0), (1, 8, 0, 0), (1, 9, 0, 0), (1, 0, 0, 0)]

In [0]:
c.executemany('INSERT INTO education VALUES(?,?,?,?)', ed)

In [0]:
conn.commit()
del ed

In [0]:
del ridxs
# first file fully uploaded to database

In [0]:
# create filters
filters = []
data = get_data("multilingual-age.ods", start_row=7, start_column=0, column_limit = 5)
rows = data['Sheet1']
fid = last_fid_t1 + 1
ridxs = []
ridx = -1
for r in rows:
    tbcode = "MA"
    ridx=ridx+1
    if len(r)==0:
        break
    code = int(r[0])
    if code == 0:
        continue
    # get sub area
    area = r[3][:1]
    if area == 'T':
        continue
    # get age
    age = str(r[4])
    age_low = 0
    age_high = 0
    idx = age.find('-')
    if age == "Total":
        continue
    elif age == "Age not stated":
        age_low = None
        age_high = None
    elif age == "70+":
        age_low = 70
        age_high = 80
    elif idx==-1:
        age_low = int(r[4])
        age_high = age_low
    else:
        age_low = int(r[4][:idx])
        age_high = int(r[4][idx+1:])
    filters.append((fid,tbcode,code,area,age_low,age_high))
    ridxs.append(ridx)
    fid=fid+1
last_fid_t2 = fid-1
print(filters[:10])
del data
del rows

[(1961, 'MA', 1, 'R', 5, 9), (1962, 'MA', 1, 'R', 10, 14), (1963, 'MA', 1, 'R', 15, 19), (1964, 'MA', 1, 'R', 20, 24), (1965, 'MA', 1, 'R', 25, 29), (1966, 'MA', 1, 'R', 30, 49), (1967, 'MA', 1, 'R', 50, 69), (1968, 'MA', 1, 'R', 70, 80), (1969, 'MA', 1, 'R', None, None), (1970, 'MA', 1, 'U', 5, 9)]

In [0]:
c.executemany('INSERT INTO filters VALUES(?,?,?,?,?,?)',filters)

In [0]:
conn.commit()
del filters

In [0]:
mage = []
data = get_data("multilingual-age.ods", start_row=7, start_column=6, column_limit = 5)
rows = data['Sheet1']
fid = last_fid_t1 + 1
for i in ridxs:
    if len(rows[i])==0:
        break
    mage.append((fid,2,rows[i][0],rows[i][1]))
    mage.append((fid,3,rows[i][3],rows[i][4]))
    fid = fid+1
del data
del rows
print(mage[:10])

[(1961, 2, 172729, 148589), (1961, 3, 28627, 24327), (1962, 2, 369310, 315942), (1962, 3, 89191, 73272), (1963, 2, 359506, 299970), (1963, 3, 130000, 100865), (1964, 2, 310502, 242601), (1964, 3, 124592, 90508), (1965, 2, 266157, 184190), (1965, 3, 94469, 61849)]

In [0]:
c.executemany('INSERT INTO multilingual_age VALUES(?,?,?,?)',mage)
del mage

In [0]:
conn.commit()
del ridxs
# second file fully uploaded to database

In [0]:
# create filters for 3rd table
filters = []
data = get_data("multilingual-education.ods", start_row=7, start_column=0, column_limit = 5)
rows = data['Sheet1']
fid =last_fid_t2+1
ridxs = []
ridx = -1
for r in rows:
    tbcode = "ME"
    ridx=ridx+1
    if len(r)==0:
        break
    code = int(r[0])
    if code == 0:
        continue
    # get sub area
    area = r[3][:1]
    if area == 'T':
        continue
    # continue on total
    if r[4]=="Total":
        filters.append((fid,tbcode,code,area,0,200))
        fid=fid+1
        continue
    ridxs.append(ridx)
print(filters[:10])
del data
del rows

[(2591, 'ME', 1, 'R', 0, 200), (2592, 'ME', 1, 'U', 0, 200), (2593, 'ME', 2, 'R', 0, 200), (2594, 'ME', 2, 'U', 0, 200), (2595, 'ME', 3, 'R', 0, 200), (2596, 'ME', 3, 'U', 0, 200), (2597, 'ME', 4, 'R', 0, 200), (2598, 'ME', 4, 'U', 0, 200), (2599, 'ME', 5, 'R', 0, 200), (2600, 'ME', 5, 'U', 0, 200)]

In [0]:
c.executemany('INSERT INTO filters VALUES(?,?,?,?,?,?)',filters)

In [0]:
conn.commit()
del filters

In [0]:
med = []
ed_levels = {
    "Illiterate": -1,
    "Literate": -2,
    "Literate but below primary": 2,
    "Primary but below middle": 3,
    "Middle but below matric/secondary":4,
    "Matric/Secondary but below graduate":5,
    "Graduate and above":9
}
data = get_data("multilingual-education.ods", start_row=7, start_column=4, column_limit = 7)
rows = data['Sheet1']
fid = last_fid_t2 + 1
for i in ridxs:
    if len(rows[i])==0:
        break
    r=rows[i]
    level = ed_levels[r[0]]
    med.append((fid,level,2,r[2],r[3]))
    med.append((fid,level,3,r[5],r[6]))
    if level == 9:
        fid=fid+1
del data
del rows
print(med)

[(2591, -1, 2, 275360, 338813), (2591, -1, 3, 52552, 57707), (2591, -2, 2, 2195003, 1358062), (2591, -2, 3, 726152, 422313), (2591, 2, 2, 238361, 188002), (2591, 2, 3, 42093, 32626), (2591, 3, 2, 413037, 307308), (2591, 3, 3, 87228, 61382), (2591, 4, 2, 619621, 369155), (2591, 4, 3, 162707, 94745), (2591, 5, 2, 720915, 397067), (2591, 5, 3, 307816, 175391), (2591, 9, 2, 157560, 72170), (2591, 9, 3, 112508, 51144), (2592, -1, 2, 67859, 82643), (2592, -1, 3, 10246, 12278), (2592, -2, 2, 1096597, 768853), (2592, -2, 3, 469806, 345166), (2592, 2, 2, 77922, 64850), (2592, 2, 3, 15500, 12595), (2592, 3, 2, 116376, 99100), (2592, 3, 3, 25904, 21900), (2592, 4, 2, 198190, 144841), (2592, 4, 3, 51964, 39424), (2592, 5, 2, 462045, 284280), (2592, 5, 3, 208788, 144025), (2592, 9, 2, 209561, 158427), (2592, 9, 3, 156265, 120625), (2593, -1, 2, 30711, 47846), (2593, -1, 3, 1939, 1837), (2593, -2, 2, 508090, 394871), (2593, -2, 3, 161100, 115941), (2593, 2, 2, 49182, 40096), (2593, 2, 3, 4622, 3388), (2593, 3, 2, 91987, 87746), (2593, 3, 3, 14971, 12462), (2593, 4, 2, 81437, 65684), (2593, 4, 3, 23180, 18284), (2593, 5, 2, 219250, 149904), (2593, 5, 3, 89282, 60777), (2593, 9, 2, 54250, 41969), (2593, 9, 3, 25778, 18882), (2594, -1, 2, 5570, 6169), (2594, -1, 3, 607, 430), (2594, -2, 2, 139595, 109853), (2594, -2, 3, 36832, 28600), (2594, 2, 2, 9159, 7041), (2594, 2, 3, 1216, 835), (2594, 3, 2, 14996, 12143), (2594, 3, 3, 2426, 1863), (2594, 4, 2, 16555, 11674), (2594, 4, 3, 3852, 2539), (2594, 5, 2, 57183, 42117), (2594, 5, 3, 16169, 11907), (2594, 9, 2, 39220, 34788), (2594, 9, 3, 12534, 10915), (2595, -1, 2, 128090, 135832), (2595, -1, 3, 38791, 34511), (2595, -2, 2, 3870170, 2949088), (2595, -2, 3, 2365676, 1791892), (2595, 2, 2, 221595, 163449), (2595, 2, 3, 82187, 60168), (2595, 3, 2, 748016, 620661), (2595, 3, 3, 277942, 212932), (2595, 4, 2, 776640, 588885), (2595, 4, 3, 416028, 314950), (2595, 5, 2, 1842479, 1303596), (2595, 5, 3, 1365164, 981699), (2595, 9, 2, 206279, 212130), (2595, 9, 3, 180171, 187476), (2596, -1, 2, 136495, 154053), (2596, -1, 3, 34319, 31843), (2596, -2, 2, 3149428, 2512068), (2596, -2, 3, 1945055, 1587826), (2596, 2, 2, 203134, 151984), (2596, 2, 3, 77860, 57363), (2596, 3, 2, 417429, 346931), (2596, 3, 3, 154045, 120119), (2596, 4, 2, 445692, 336117), (2596, 4, 3, 216753, 164343), (2596, 5, 2, 1426162, 1035034), (2596, 5, 3, 969580, 723149), (2596, 9, 2, 591933, 586626), (2596, 9, 3, 490467, 491609), (2597, -1, 2, 379, 474), (2597, -1, 3, 23, 24), (2597, -2, 2, 6690, 4180), (2597, -2, 3, 2624, 1682), (2597, 2, 2, 542, 420), (2597, 2, 3, 106, 78), (2597, 3, 2, 1093, 826), (2597, 3, 3, 253, 177), (2597, 4, 2, 1066, 676), (2597, 4, 3, 335, 242), (2597, 5, 2, 3001, 1651), (2597, 5, 3, 1400, 844), (2597, 9, 2, 909, 555), (2597, 9, 3, 509, 331), (2598, -1, 2, 9340, 13514), (2598, -1, 3, 1276, 1844), (2598, -2, 2, 306489, 238854), (2598, -2, 3, 174634, 139872), (2598, 2, 2, 19420, 15118), (2598, 2, 3, 6850, 5204), (2598, 3, 2, 32776, 27436), (2598, 3, 3, 12723, 9921), (2598, 4, 2, 35652, 26548), (2598, 4, 3, 14889, 11477), (2598, 5, 2, 119055, 82771), (2598, 5, 3, 67457, 49183), (2598, 9, 2, 96841, 84349), (2598, 9, 3, 71310, 62930), (2599, -1, 2, 66561, 96488), (2599, -1, 3, 1303, 1674), (2599, -2, 2, 401407, 270775), (2599, -2, 3, 41590, 26044), (2599, 2, 2, 53578, 43140), (2599, 2, 3, 1963, 1623), (2599, 3, 2, 84212, 64820), (2599, 3, 3, 4150, 3102), (2599, 4, 2, 77129, 48107), (2599, 4, 3, 6773, 4360), (2599, 5, 2, 118084, 67688), (2599, 5, 3, 17643, 9878), (2599, 9, 2, 59004, 39784), (2599, 9, 3, 10143, 6654), (2600, -1, 2, 37009, 48898), (2600, -1, 3, 749, 1046), (2600, -2, 2, 477785, 358833), (2600, -2, 3, 65887, 49529), (2600, 2, 2, 36438, 29249), (2600, 2, 3, 1996, 1554), (2600, 3, 2, 59806, 45509), (2600, 3, 3, 4073, 3296), (2600, 4, 2, 58726, 40926), (2600, 4, 3, 6730, 4391), (2600, 5, 2, 159199, 105064), (2600, 5, 3, 24957, 16898), (2600, 9, 2, 153871, 130631), (2600, 9, 3, 26718, 22417), (2601, -1, 2, 115322, 161828), (2601, -1, 3, 5529, 4831), (2601, -2, 2, 1536431, 943961), (2601, -2, 3, 338764, 213843), (2601, 2, 2, 142863, 101351), (2601, 2, 3, 8606, 5725), (2601, 3, 2, 281014, 205281), (2601, 3, 3, 39899, 27176), (2601, 4, 2, 256725, 180933), (2601, 4, 3, 60585, 44386), (2601, 5, 2, 665846, 351962), (2601, 5, 3, 177188, 104914), (2601, 9, 2, 158779, 83260), (2601, 9, 3, 46198, 27093), (2602, -1, 2, 56016, 68318), (2602, -1, 3, 5276, 4472), (2602, -2, 2, 1549876, 1195609), (2602, -2, 3, 331659, 266197), (2602, 2, 2, 76607, 58227), (2602, 2, 3, 8150, 5980), (2602, 3, 2, 134024, 111905), (2602, 3, 3, 17483, 13115), (2602, 4, 2, 158088, 124999), (2602, 4, 3, 25770, 19691), (2602, 5, 2, 633565, 437352), (2602, 5, 3, 133248, 96348), (2602, 9, 2, 515637, 434841), (2602, 9, 3, 140447, 124882), (2603, -1, 2, 1816, 2644), (2603, -1, 3, 34, 25), (2603, -2, 2, 57688, 36565), (2603, -2, 3, 3302, 2113), (2603, 2, 2, 2260, 1702), (2603, 2, 3, 40, 41), (2603, 3, 2, 4744, 3581), (2603, 3, 3, 149, 125), (2603, 4, 2, 6726, 4952), (2603, 4, 3, 386, 235), (2603, 5, 2, 29484, 17369), (2603, 5, 3, 1486, 937), (2603, 9, 2, 12995, 7996), (2603, 9, 3, 1127, 700), (2604, -1, 2, 123636, 168747), (2604, -1, 3, 6021, 7508), (2604, -2, 2, 3609318, 2816800), (2604, -2, 3, 732156, 607074), (2604, 2, 2, 184525, 150797), (2604, 2, 3, 21571, 18179), (2604, 3, 2, 326051, 273799), (2604, 3, 3, 39968, 33729), (2604, 4, 2, 372768, 291147), (2604, 4, 3, 53555, 42884), (2604, 5, 2, 1284686, 927324), (2604, 5, 3, 234835, 186072), (2604, 9, 2, 1319131, 1066521), (2604, 9, 3, 356392, 301285), (2605, -1, 2, 273790, 431306), (2605, -1, 3, 10772, 11010), (2605, -2, 2, 2320020, 1221910), (2605, -2, 3, 403846, 183879), (2605, 2, 2, 350196, 260003), (2605, 2, 3, 11672, 7745), (2605, 3, 2, 559984, 354731), (2605, 3, 3, 45862, 28942), (2605, 4, 2, 468769, 245565), (2605, 4, 3, 90551, 48781), (2605, 5, 2, 591817, 240538), (2605, 5, 3, 165241, 70658), (2605, 9, 2, 241018, 67392), (2605, 9, 3, 75918, 22150), (2606, -1, 2, 112334, 185220), (2606, -1, 3, 4440, 5935), (2606, -2, 2, 1683776, 1244830), (2606, -2, 3, 223784, 163085), (2606, 2, 2, 125268, 110897), (2606, 2, 3, 6678, 5678), (2606, 3, 2, 208454, 187204), (2606, 3, 3, 14992, 13230), (2606, 4, 2, 215845, 168710), (2606, 4, 3, 24391, 19014), (2606, 5, 2, 537806, 354600), (2606, 5, 3, 86255, 57211), (2606, 9, 2, 528306, 371589), (2606, 9, 3, 83526, 62192), (2607, -1, 2, 607599, 846027), (2607, -1, 3, 17087, 21911), (2607, -2, 2, 6033569, 3430702), (2607, -2, 3, 797077, 431773), (2607, 2, 2, 542687, 465589), (2607, 2, 3, 30010, 26665), (2607, 3, 2, 972523, 781157), (2607, 3, 3, 91100, 77330), (2607, 4, 2, 1084085, 616226), (2607, 4, 3, 158765, 93608), (2607, 5, 2, 2141173, 1042441), (2607, 5, 3, 320304, 161366), (2607, 9, 2, 1043943, 379442), (2607, 9, 3, 168870, 59090), (2608, -1, 2, 662677, 785366), (2608, -1, 3, 22204, 28820), (2608, -2, 2, 6006064, 4501605), (2608, -2, 3, 710625, 556167), (2608, 2, 2, 435073, 363246), (2608, 2, 3, 28905, 24869), (2608, 3, 2, 743539, 604151), (2608, 3, 3, 64153, 55470), (2608, 4, 2, 719993, 539973), (2608, 4, 3, 85296, 65867), (2608, 5, 2, 1881860, 1391325), (2608, 5, 3, 256407, 202229), (2608, 9, 2, 1941280, 1400018), (2608, 9, 3, 245306, 186151), (2609, -1, 2, 1898359, 2432612), (2609, -1, 3, 73988, 81269), (2609, -2, 2, 5967534, 3631752), (2609, -2, 3, 711086, 396333), (2609, 2, 2, 1368105, 1170986), (2609, 2, 3, 84376, 75142), (2609, 3, 2, 1526126, 997124), (2609, 3, 3, 127058, 94264), (2609, 4, 2, 884376, 484673), (2609, 4, 3, 98746, 60379), (2609, 5, 2, 1352741, 628961), (2609, 5, 3, 244008, 118589), (2609, 9, 2, 452499, 107852), (2609, 9, 3, 118459, 26625), (2610, -1, 2, 187096, 234093), (2610, -1, 3, 11551, 13298), (2610, -2, 2, 1390506, 1019833), (2610, -2, 3, 231850, 163197), (2610, 2, 2, 160217, 148584), (2610, 2, 3, 15091, 14892), (2610, 3, 2, 192497, 175051), (2610, 3, 3, 23762, 22817), (2610, 4, 2, 160151, 134433), (2610, 4, 3, 23966, 21199), (2610, 5, 2, 417906, 326129), (2610, 5, 3, 78202, 62022), (2610, 9, 2, 393931, 183660), (2610, 9, 3, 81390, 35525), (2611, -1, 2, 14946, 20546), (2611, -1, 3, 2220, 2204), (2611, -2, 2, 137116, 101622), (2611, -2, 3, 63325, 50427), (2611, 2, 2, 32850, 21825), (2611, 2, 3, 7822, 5268), (2611, 3, 2, 37856, 30830), (2611, 3, 3, 15109, 12776), (2611, 4, 2, 22976, 19562), (2611, 4, 3, 12614, 11594), (2611, 5, 2, 28686, 20028), (2611, 5, 3, 18770, 14803), (2611, 9, 2, 8333, 5384), (2611, 9, 3, 6582, 4435), (2612, -1, 2, 3813, 5762), (2612, -1, 3, 932, 1084), (2612, -2, 2, 57465, 47729), (2612, -2, 3, 32950, 28260), (2612, 2, 2, 7635, 6549), (2612, 2, 3, 2479, 2079), (2612, 3, 2, 11471, 9454), (2612, 3, 3, 4643, 3812), (2612, 4, 2, 9816, 8381), (2612, 4, 3, 5416, 4732), (2612, 5, 2, 16944, 14488), (2612, 5, 3, 11472, 10708), (2612, 9, 2, 9912, 7360), (2612, 9, 3, 8088, 6159), (2613, -1, 2, 85851, 104080), (2613, -1, 3, 20416, 20809), (2613, -2, 2, 271056, 197677), (2613, -2, 3, 147634, 103655), (2613, 2, 2, 58444, 48516), (2613, 2, 3, 22309, 17596), (2613, 3, 2, 70674, 58099), (2613, 3, 3, 35495, 28272), (2613, 4, 2, 53401, 40167), (2613, 4, 3, 31573, 23559), (2613, 5, 2, 62936, 38240), (2613, 5, 3, 40941, 26143), (2613, 9, 2, 18036, 7661), (2613, 9, 3, 13966, 5983), (2614, -1, 2, 12989, 20929), (2614, -1, 3, 3938, 6128), (2614, -2, 2, 108517, 84846), (2614, -2, 3, 64678, 51293), (2614, 2, 2, 14180, 13444), (2614, 2, 3, 5758, 5267), (2614, 3, 2, 18958, 17900), (2614, 3, 3, 9996, 9298), (2614, 4, 2, 20081, 16600), (2614, 4, 3, 12087, 10257), (2614, 5, 2, 37449, 27092), (2614, 5, 3, 23639, 19270), (2614, 9, 2, 15381, 8028), (2614, 9, 3, 12070, 6331), (2615, -1, 2, 55965, 56432), (2615, -1, 3, 10191, 7190), (2615, -2, 2, 381282, 311865), (2615, -2, 3, 169227, 119578), (2615, 2, 2, 62032, 54344), (2615, 2, 3, 15693, 11521), (2615, 3, 2, 98949, 89267), (2615, 3, 3, 33727, 25416), (2615, 4, 2, 95537, 77323), (2615, 4, 3, 44639, 31377), (2615, 5, 2, 80324, 58399), (2615, 5, 3, 49781, 34855), (2615, 9, 2, 23060, 14470), (2615, 9, 3, 16943, 10429), (2616, -1, 2, 15884, 19442), (2616, -1, 3, 4781, 4597), (2616, -2, 2, 208768, 180085), (2616, -2, 3, 122394, 99523), (2616, 2, 2, 24994, 22829), (2616, 2, 3, 10171, 8478), (2616, 3, 2, 37301, 33932), (2616, 3, 3, 18597, 14961), (2616, 4, 2, 47485, 42351), (2616, 4, 3, 27508, 22674), (2616, 5, 2, 62046, 52214), (2616, 5, 3, 40401, 34052), (2616, 9, 2, 27281, 20412), (2616, 9, 3, 20590, 15110), (2617, -1, 2, 61781, 79385), (2617, -1, 3, 13643, 14152), (2617, -2, 2, 465301, 351411), (2617, -2, 3, 208284, 140004), (2617, 2, 2, 36294, 34622), (2617, 2, 3, 9086, 7938), (2617, 3, 2, 72335, 66468), (2617, 3, 3, 22638, 19077), (2617, 4, 2, 117193, 86346), (2617, 4, 3, 45408, 30489), (2617, 5, 2, 159082, 115918), (2617, 5, 3, 81476, 55770), (2617, 9, 2, 59451, 32863), (2617, 9, 3, 40481, 20905), (2618, -1, 2, 6695, 9975), (2618, -1, 3, 2376, 3174), (2618, -2, 2, 226510, 187562), (2618, -2, 3, 131942, 103243), (2618, 2, 2, 10076, 9975), (2618, 2, 3, 3045, 2937), (2618, 3, 2, 17824, 17991), (2618, 3, 3, 6832, 6815), (2618, 4, 2, 42606, 34958), (2618, 4, 3, 18810, 15110), (2618, 5, 2, 85258, 70645), (2618, 5, 3, 49918, 39675), (2618, 9, 2, 63350, 47679), (2618, 9, 3, 49172, 35336), (2619, -1, 2, 7075, 7635), (2619, -1, 3, 849, 445), (2619, -2, 2, 64669, 43830), (2619, -2, 3, 11865, 4958), (2619, 2, 2, 16564, 12785), (2619, 2, 3, 1888, 761), (2619, 3, 2, 15161, 10741), (2619, 3, 3, 2300, 1180), (2619, 4, 2, 13211, 8826), (2619, 4, 3, 2477, 1001), (2619, 5, 2, 13294, 8299), (2619, 5, 3, 3456, 1373), (2619, 9, 2, 5234, 2242), (2619, 9, 3, 1488, 537), (2620, -1, 2, 1727, 1820), (2620, -1, 3, 242, 213), (2620, -2, 2, 100693, 82254), (2620, -2, 3, 21758, 12636), (2620, 2, 2, 7723, 6349), (2620, 2, 3, 1116, 697), (2620, 3, 2, 11306, 8343), (2620, 3, 3, 1990, 1002), (2620, 4, 2, 19992, 14877), (2620, 4, 3, 3478, 1751), (2620, 5, 2, 39591, 36263), (2620, 5, 3, 8276, 5387), (2620, 9, 2, 21077, 15536), (2620, 9, 3, 6664, 3675), (2621, -1, 2, 57644, 92761), (2621, -1, 3, 3015, 2959), (2621, -2, 2, 496430, 351906), (2621, -2, 3, 72079, 33420), (2621, 2, 2, 110233, 97471), (2621, 2, 3, 6860, 4221), (2621, 3, 2, 120457, 90172), (2621, 3, 3, 10601, 6068), (2621, 4, 2, 111135, 74379), (2621, 4, 3, 17604, 8179), (2621, 5, 2, 103301, 54535), (2621, 5, 3, 25316, 10357), (2621, 9, 2, 22831, 8257), (2621, 9, 3, 8827, 2936), (2622, -1, 2, 3290, 3908), (2622, -1, 3, 490, 300), (2622, -2, 2, 156135, 106527), (2622, -2, 3, 53559, 32755), (2622, 2, 2, 8834, 7790), (2622, 2, 3, 1221, 964), (2622, 3, 2, 14699, 11935), (2622, 3, 3, 2373, 2083), (2622, 4, 2, 28291, 19560), (2622, 4, 3, 5530, 3859), (2622, 5, 2, 56443, 37083), (2622, 5, 3, 19895, 11999), (2622, 9, 2, 40862, 25154), (2622, 9, 3, 22329, 12507), (2623, -1, 2, 40556, 35755), (2623, -1, 3, 9148, 6677), (2623, -2, 2, 222450, 174937), (2623, -2, 3, 68882, 38596), (2623, 2, 2, 46629, 34266), (2623, 2, 3, 9039, 4742), (2623, 3, 2, 48620, 39737), (2623, 3, 3, 12216, 7291), (2623, 4, 2, 46980, 39148), (2623, 4, 3, 15478, 9035), (2623, 5, 2, 57203, 44545), (2623, 5, 3, 23128, 12760), (2623, 9, 2, 12266, 10030), (2623, 9, 3, 5524, 3132), (2624, -1, 2, 8365, 10730), (2624, -1, 3, 2630, 2366), (2624, -2, 2, 169709, 159818), (2624, -2, 3, 80089, 66543), (2624, 2, 2, 16030, 15682), (2624, 2, 3, 4679, 4134), (2624, 3, 2, 24096, 24079), (2624, 3, 3, 8754, 7838), (2624, 4, 2, 37405, 34373), (2624, 4, 3, 16587, 13497), (2624, 5, 2, 58422, 52118), (2624, 5, 3, 29866, 23422), (2624, 9, 2, 29231, 29404), (2624, 9, 3, 17964, 15863), (2625, -1, 2, 1530134, 1784089), (2625, -1, 3, 182288, 151559), (2625, -2, 2, 4976352, 3491283), (2625, -2, 3, 1653384, 982142), (2625, 2, 2, 1039949, 758442), (2625, 2, 3, 142045, 70271), (2625, 3, 2, 1122292, 849254), (2625, 3, 3, 274238, 170893), (2625, 4, 2, 1092028, 860307), (2625, 4, 3, 382751, 274816), (2625, 5, 2, 1188136, 730880), (2625, 5, 3, 580912, 338298), (2625, 9, 2, 282354, 129939), (2625, 9, 3, 192905, 85176), (2626, -1, 2, 92993, 127888), (2626, -1, 3, 24758, 28024), (2626, -2, 2, 1379925, 1077927), (2626, -2, 3, 775857, 554485), (2626, 2, 2, 128006, 107155), (2626, 2, 3, 41058, 29500), (2626, 3, 2, 199870, 160820), (2626, 3, 3, 82797, 58288), (2626, 4, 2, 262843, 224939), (2626, 4, 3, 127484, 100561), (2626, 5, 2, 466896, 365181), (2626, 5, 3, 282402, 209032), (2626, 9, 2, 272839, 180285), (2626, 9, 3, 215438, 138219), (2627, -1, 2, 730520, 984701), (2627, -1, 3, 32103, 29687), (2627, -2, 2, 3367701, 1885665), (2627, -2, 3, 415773, 186512), (2627, 2, 2, 618934, 418026), (2627, 2, 3, 30401, 16220), (2627, 3, 2, 624723, 403196), (2627, 3, 3, 40789, 23260), (2627, 4, 2, 677646, 406424), (2627, 4, 3, 67569, 38184), (2627, 5, 2, 906742, 454795), (2627, 5, 3, 152079, 67631), (2627, 9, 2, 435809, 144142), (2627, 9, 3, 113733, 36614), (2628, -1, 2, 292610, 345580), (2628, -1, 3, 31188, 30048), (2628, -2, 2, 4391507, 3027564), (2628, -2, 3, 1310291, 845403), (2628, 2, 2, 334359, 254219), (2628, 2, 3, 35786, 27798), (2628, 3, 2, 479231, 364531), (2628, 3, 3, 65450, 51784), (2628, 4, 2, 635202, 451489), (2628, 4, 3, 110867, 82591), (2628, 5, 2, 1399355, 961192), (2628, 5, 3, 422089, 272511), (2628, 9, 2, 1409664, 901770), (2628, 9, 3, 641778, 389190), (2629, -1, 2, 855442, 1273611), (2629, -1, 3, 81999, 88771), (2629, -2, 2, 2982974, 1876324), (2629, -2, 3, 505018, 256414), (2629, 2, 2, 643872, 538732), (2629, 2, 3, 55183, 40746), (2629, 3, 2, 854692, 577752), (2629, 3, 3, 110373, 68508), (2629, 4, 2, 576575, 328220), (2629, 4, 3, 102922, 54518), (2629, 5, 2, 624854, 298449), (2629, 5, 3, 162065, 68197), (2629, 9, 2, 144138, 47995), (2629, 9, 3, 51930, 14764), (2630, -1, 2, 155327, 246071), (2630, -1, 3, 14385, 20201), (2630, -2, 2, 1480471, 1130500), (2630, -2, 3, 364558, 261693), (2630, 2, 2, 159808, 145094), (2630, 2, 3, 18074, 16300), (2630, 3, 2, 215628, 200416), (2630, 3, 3, 31977, 29164), (2630, 4, 2, 204103, 169586), (2630, 4, 3, 38759, 31911), (2630, 5, 2, 511323, 372253), (2630, 5, 3, 143738, 101518), (2630, 9, 2, 351364, 212449), (2630, 9, 3, 123095, 77063), (2631, -1, 2, 802394, 1145240), (2631, -1, 3, 93227, 94901), (2631, -2, 2, 4938051, 3145708), (2631, -2, 3, 2009708, 1163229), (2631, 2, 2, 538738, 411973), (2631, 2, 3, 59047, 38910), (2631, 3, 2, 1049323, 759073), (2631, 3, 3, 218574, 154239), (2631, 4, 2, 1192755, 794969), (2631, 4, 3, 463075, 312427), (2631, 5, 2, 1515803, 878782), (2631, 5, 3, 859775, 484336), (2631, 9, 2, 510388, 212328), (2631, 9, 3, 364185, 146283), (2632, -1, 2, 112669, 161021), (2632, -1, 3, 26359, 29170), (2632, -2, 2, 2012484, 1507457), (2632, -2, 3, 1229917, 878767), (2632, 2, 2, 125927, 111869), (2632, 2, 3, 37057, 31322), (2632, 3, 2, 268534, 243930), (2632, 3, 3, 91853, 84686), (2632, 4, 2, 308378, 240237), (2632, 4, 3, 144601, 115665), (2632, 5, 2, 749900, 555815), (2632, 5, 3, 503758, 369365), (2632, 9, 2, 512707, 312303), (2632, 9, 3, 426338, 253621), (2633, -1, 2, 281748, 371288), (2633, -1, 3, 26569, 26403), (2633, -2, 2, 858206, 583569), (2633, -2, 3, 92952, 51519), (2633, 2, 2, 211742, 164415), (2633, 2, 3, 13224, 8701), (2633, 3, 2, 247996, 183265), (2633, 3, 3, 21717, 13162), (2633, 4, 2, 188444, 125016), (2633, 4, 3, 20787, 12065), (2633, 5, 2, 143562, 75425), (2633, 5, 3, 23681, 11547), (2633, 9, 2, 39426, 16803), (2633, 9, 3, 10479, 4374), (2634, -1, 2, 48457, 82789), (2634, -1, 3, 2936, 3460), (2634, -2, 2, 632210, 525956), (2634, -2, 3, 122693, 96037), (2634, 2, 2, 62544, 56853), (2634, 2, 3, 4275, 3886), (2634, 3, 2, 87864, 84210), (2634, 3, 3, 7616, 7129), (2634, 4, 2, 82793, 73316), (2634, 4, 3, 9728, 8374), (2634, 5, 2, 210528, 164110), (2634, 5, 3, 44630, 32866), (2634, 9, 2, 176207, 135898), (2634, 9, 3, 54279, 42079), (2635, -1, 2, 717711, 925525), (2635, -1, 3, 17432, 17904), (2635, -2, 2, 2276560, 1409559), (2635, -2, 3, 349465, 177937), (2635, 2, 2, 477193, 376623), (2635, 2, 3, 11585, 8399), (2635, 3, 2, 532535, 396338), (2635, 3, 3, 45498, 35420), (2635, 4, 2, 446280, 277762), (2635, 4, 3, 93275, 56714), (2635, 5, 2, 532679, 241211), (2635, 5, 3, 133626, 56379), (2635, 9, 2, 209457, 68504), (2635, 9, 3, 56971, 16883), (2636, -1, 2, 131771, 184483), (2636, -1, 3, 7597, 7329), (2636, -2, 2, 2348657, 1814416), (2636, -2, 3, 383636, 296653), (2636, 2, 2, 159754, 138528), (2636, 2, 3, 10193, 9338), (2636, 3, 2, 263506, 236715), (2636, 3, 3, 23744, 22504), (2636, 4, 2, 267400, 235262), (2636, 4, 3, 36183, 32310), (2636, 5, 2, 776390, 576683), (2636, 5, 3, 138452, 103514), (2636, 9, 2, 819237, 572541), (2636, 9, 3, 165776, 121015), (2637, -1, 2, 290608, 374884), (2637, -1, 3, 35518, 29390), (2637, -2, 2, 6681982, 4100866), (2637, -2, 3, 1933429, 1032951), (2637, 2, 2, 414752, 313546), (2637, 2, 3, 38531, 25725), (2637, 3, 2, 1627445, 1335106), (2637, 3, 3, 234090, 187191), (2637, 4, 2, 1549411, 836959), (2637, 4, 3, 350856, 189735), (2637, 5, 2, 2322416, 1174994), (2637, 5, 3, 935822, 454326), (2637, 9, 2, 418602, 200469), (2637, 9, 3, 282885, 123404), (2638, -1, 2, 348339, 477158), (2638, -1, 3, 65277, 64836), (2638, -2, 2, 7738813, 5879691), (2638, -2, 3, 3147038, 2262132), (2638, 2, 2, 562037, 486949), (2638, 2, 3, 100317, 82765), (2638, 3, 2, 1270055, 1186873), (2638, 3, 3, 238277, 214968), (2638, 4, 2, 1332261, 881288), (2638, 4, 3, 334585, 226967), (2638, 5, 2, 2864660, 2014301), (2638, 5, 3, 1302944, 898390), (2638, 9, 2, 1355433, 1000898), (2638, 9, 3, 1042889, 735691), (2639, -1, 2, 411, 742), (2639, -1, 3, 49, 38), (2639, -2, 2, 16377, 11269), (2639, -2, 3, 4942, 2780), (2639, 2, 2, 1324, 1040), (2639, 2, 3, 128, 99), (2639, 3, 2, 3626, 2740), (2639, 3, 3, 454, 325), (2639, 4, 2, 3382, 2515), (2639, 4, 3, 751, 429), (2639, 5, 2, 6462, 4195), (2639, 5, 3, 2698, 1572), (2639, 9, 2, 1110, 422), (2639, 9, 3, 780, 271), (2640, -1, 2, 2088, 2469), (2640, -1, 3, 239, 314), (2640, -2, 2, 52384, 30889), (2640, -2, 3, 16626, 9614), (2640, 2, 2, 4321, 3236), (2640, 2, 3, 730, 590), (2640, 3, 2, 8035, 5907), (2640, 3, 3, 1325, 1068), (2640, 4, 2, 8602, 5023), (2640, 4, 

In [0]:
c.executemany('INSERT INTO multilingual_education VALUES(?,?,?,?,?)',med)

In [0]:
conn.commit()
del med

In [0]:
import sqlite3

con = sqlite3.connect("population.db")
con.isolation_level = None
cur = con.cursor()

buffer = ""

print("Enter your SQL commands to execute in sqlite3.")
print("Enter a blank line to exit.")

while True:
    line = input()
    if line == "":
        break
    buffer += line
    if sqlite3.complete_statement(buffer):
        try:
            buffer = buffer.strip()
            cur.execute(buffer)

            if buffer.lstrip().upper().startswith("SELECT"):
                print(cur.fetchall())
        except sqlite3.Error as e:
            print("An error occurred:", e.args[0])
        buffer = ""
con.close()

Enter your SQL commands to execute in sqlite3.
Enter a blank line to exit.

sample_data